.big a {
  font-size: 2.7em;
}

.green a {
  background-color: green;
  color: black;
}

.red a {
  background-color: red;
  color: black;
}

.tel-keys {
  width: 6em;
  text-align: center;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.win::before,
.lose::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: 5s show ease-out;
}

.win::before {
  background-color: rgb(17, 180, 17);
}

.lose::before {
  background-color: rgb(196, 69, 69);
}
