.big a {
  font-size: 2.7em;
}

.green a {
  background-color: green;
  color: black;
}

.red a {
  background-color: red;
  color: black;
}

.tel-keys {
  width: 6em;
  text-align: center;
}

.win,
.lose {
  transition: all 5s ease-out;
}

.win {
  background-color: rgb(17, 180, 17);
}

.lose {
  background-color: rgb(196, 69, 69);
}
